@model Category

<div class="card">
    <div class="card-header">
        Create New Category
    </div>
    <div class="card-body p-4">
        <form method="post" class="row">
            <div class="border p-3 ">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-floating py-2 col-md-12">
                    <input asp-for="strCategoryName" class="form-control b-0 shadow" />
                    <label asp-for="strCategoryName" class="ms-2"></label>
                    <span asp-validation-for="strCategoryName" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-md-12">
                    <input asp-for="intDisplayOrder" class="form-control b-0 shadow" />
                    <label asp-for="intDisplayOrder" class="ms-2"></label>
                    <span asp-validation-for="intDisplayOrder" class="text-danger"></span>
                </div>
                <div class="row pt-2">
                    <div class="col-sm-6 col-md-3">
                        <button type="submit" class="btn btn-primary border form-control">
                            Create
                        </button>
                    </div>
                    <div class="col-6 col-md-3 text-end">
                        <a asp-controller="Category" asp-action="Index" class="btn border form-control">
                            <i class="bi bi-arrow-left-circle-fill"></i> Back
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}